// 项目图标库
@import "//at.alicdn.com/t/c/font_4459318_1a8vhd0xlxc.css"

/* 重置样式表 */
*
    padding: 0
    margin: 0
    text-decoration: none

ul
    list-style: none

button
    border: none
    cursor: pointer

body
    margin: 0rem
    height: 100vh
    width: 100vw

#app
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
