// 项目图标库
@import "//at.alicdn.com/t/c/font_4459318_ck8wog9yn5b.css"

/* 重置样式表 */
*
    padding: 0
    margin: 0
    text-decoration: none
    user-select: none

ul
    list-style: none

button
    border: none
    cursor: pointer

body
    margin: 0rem
    height: 100vh
    width: 100vw
    overflow-x: hidden

#app
    width: 100vw
    height: 100vh

.message-window
    flex-grow: 3
    overflow: auto
    overflow-x: hidden
    background-color: #f2f2f2

    @media (max-width: 600px)
        padding: 4rem 0rem 5rem
    

    .message-time
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        font-size: 0.75rem
        color: rgb(120, 124, 127)
        margin: 0.5rem 0

.message-body
    padding: 0.625rem 0.625rem
    display: flex
    align-items: flex-start

    &#user
        flex-direction: row-reverse

        & > .msg > .content > *
            background-color: rgb(0, 153, 255)

        & > .msg > .content
            background-color: rgb(0, 153, 255)

        .loader
            left: -2rem
            top: calc(45% - 0.3125rem)

    &#other
        flex-direction: row

        & > .msg > .content
            background-color: rgb(255, 255, 255)


.msg
    max-width: calc(100% - 2.65rem)
    flex-grow: 1
    display: flex
    flex-direction: column

#other .msg
    align-items: flex-start

#user .msg
    align-items: flex-end


.wholename > .name,
.wholename > .title
    margin: 0.25rem
    text-wrap: nowrap

.wholename
    margin: 0 0.5rem
    display: flex
    flex-direction: row
    justify-content: flex-start 

    & > .name
        font-size: 0.625rem
        padding-top: 0.0625rem
        color: rgb(120, 124, 127)

    & > .title
        font-size: 0.375rem
        color: rgb(0, 153, 255)
        padding: 0.0625rem 0.125rem 0.125rem 0.125rem
        background-color: rgb(194, 225, 245)
        border-radius: 0.3125rem

.content
    max-width: calc( 100% - 3.6rem )
    padding: 0.5rem 0.75rem
    border-radius: 0.5rem
    margin: 0.5rem

.reply-block
    background-color: rgba(0, 0, 0, 0.05)
    border-left: 0.25rem solid rgb(200, 200, 200)
    padding: 0.25rem 0.5rem
    margin-bottom: 0.5rem
    width: 100%
    word-break: break-all
    white-space: pre-wrap
    font-size: 0.875rem

.content:has(.blank-message)
    overflow: hidden

.system-message
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    font-size: 0.75rem
    color: rgb(120, 124, 127)

    .system-message-content
        padding: 0rem 0.5rem
        border-radius: 0.5rem

    .system-message-button
        display: flex
        justify-content: center
        align-items: center
        i
            font-size: 0.6rem

            &:hover
                color: rgb(0, 153, 255)
                cursor: pointer


.message-container
    display: flex
    flex-direction: column
    width: 100%

.content > .inner-content img
    max-height: 20rem
    margin: 0.5rem 0
    
    @media (min-width: 600px)
        max-width: 20rem
        