/* Global Component & Third-Party Library Overrides */

// Element Plus Overrides
.el-card {
  border-radius: var(--mio-border-radius-large) !important;
  border: none !important;
  box-shadow: var(--mio-shadow-light) !important;
}

.el-button {
  border-radius: var(--mio-border-radius-base) !important;
}

.el-input__wrapper {
  border-radius: var(--mio-border-radius-base) !important;
}

.el-dialog {
  border-radius: var(--mio-border-radius-large) !important;
}

.el-alert {
  border-radius: var(--mio-border-radius-base) !important;
}

.el-tag {
  border-radius: 6px !important;
}

.el-dropdown-menu {
  border-radius: 12px !important;
}

.el-popover.el-popper {
  border-radius: 12px !important;
}

.el-message-box {
  border-radius: var(--mio-border-radius-large) !important;
}

.el-notification {
  border-radius: var(--mio-border-radius-large) !important;
}

// Remove padding from mobile preview drawer
.el-drawer.mobile-preview-drawer {
  .el-drawer__body {
    padding: 0 !important;
  }
}